<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>客户端</title>
    <script type="text/javascript" src="static/js/vue.js"></script>

    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="static/js/online_chat_js_sdk.js"></script>
    <script type="text/javascript" src="static/js/wangEditor/wangEditor.min.js"></script>
    <script type="text/javascript" src="static/js/face.js"></script>
    <script type="text/javascript" src="static/js/layer/layer.js"></script>
    <link rel="stylesheet" href="static/css/index.css">
</head>

<body style="background:#f5f5f5 url('static/img/bg.jpg') no-repeat center;background-size: cover;">
<div id="app">
    <div class="main">

        <div class="chat-title">
            <p style="float: left">选择联系人:
                <select id="select" onchange="updateValue()">
                    <option value=''>请选择联系人</option>
                </select></p>
            <form onSubmit="return false;">
                连接对方:&nbsp;<input type="text" id="url" name="url" value="请输入链接地址"/> <br/><br/>
            </form>
        </div>
        <div class="chat-message" id="chat-message">
            <div id="localDiv">


            </div>
            <ul v-if="onlineChat.customer.session" style="height:360px"
                v-scroll-bottom="onlineChat.customer.session.messages">
                <li v-for="(item,key) in onlineChat.customer.session.messages" class="cm-item">
                    <!--时间-->
                    <p class="cm-time"
                       v-if="key==0 || item.ctime-onlineChat.customer.session.messages[key-1].ctime > 60">
                        <span>{{onlineChat.helper.messageFormatTime(item.ctime*1000)}}</span>
                    </p>

                    <div :class="{self:item.uid == onlineChat.userinfo.uid}">
                        <!--头像-->
                        <img class="cm-avatar" width="30" height="30"
                             :src="item.uid == onlineChat.userinfo.uid ? '../static/img/user.png':'../static/img/customer.png'"/>
                        <!--文本-->
                        <div v-if="item.msg_type==0" class="cm-msg cm-txt cm-bg-color">
                            {{item.msg}}
                        </div>
                        <!--富文本-->
                        <div v-if="item.msg_type==4" class="cm-msg cm-txt cm-bg-color" v-html="item.msg">
                        </div>
                        <!--图片-->
                        <div v-if="item.msg_type==1" class="cm-msg cm-img">
                            <img :src="item.msg" :onload="imgLoadScrollBottom()"/>
                        </div>
                        <!--声音-->
                        <div v-if="item.msg_type==2" class="cm-msg cm-bg-color cm-sound" :sound-src="item.msg.path"
                             :style="{width:parseInt(70+(item.msg.duration * 5)).toString() + 'px'}">
                            <img v-if="item.uid == onlineChat.userinfo.uid" class="sound-img"
                                 src="../static/img/sound1.png"/>
                            <img v-if="item.uid != onlineChat.userinfo.uid" class="sound-img"
                                 src="../static/img/sound.png"/>
                            <span class="sound-duration">{{parseInt(item.msg.duration)}}"</span>
                        </div>
                        <!--视频-->
                        <div v-if="item.msg_type==3" class="cm-msg cm-video" :video-src="item.msg.path">
                            <img :src="onlineChat.httpApiHost+item.msg.video_cover_img" class="video-cover-img"
                                 :onload="imgLoadScrollBottom() />
                                <img src=" ../static/img/play.png" class="video-play-img"/>
                        </div>
                        <!--文件-->
                        <div v-if="item.msg_type==5" class="cm-msg cm-file">
                            <div class="mf-left">
                                <img src="../static/img/file.jpg"/>
                            </div>
                            <div class="mf-right">
                                <p class="mf-filename">{{item.msg.filename}}</p>
                                <p class="mf-detail">
                                    <span class="mf-size">{{onlineChat.helper.formatFilesize(item.msg.filesize)}}</span>
                                    <span class="mf-download"><a
                                            :href="onlineChat.helper.getFileDownloadUrl(item.msg.path,item.msg.filename)"
                                            target="_bank" style="color:#35ac2f;text-decoration: none">下载</a></span>
                                </p>
                            </div>
                        </div>

                    </div>
                </li>
            </ul>
        </div>

        <div class="chat-message-editor">
            <div name="msg" placeholder="请输入内容" id="editor"></div>
        </div>

        <div class="chat-message-tool" style="z-index:100000">
            <button onClick="connect()">连接</button>
            <button onclick="sendMsg()">发送</button>
        </div>

    </div>
</div>

<audio controls style="display:none" id="online-sound">
    <source src="../static/mp3/online.mp3" type="audio/mpeg">
    您的浏览器不支持 audio 元素。
</audio>
<audio controls style="display:none" id="chat-sound">
    <source src="" type="audio/mpeg">
    您的浏览器不支持 audio 元素。
</audio>
</body>
<script>

    function updateValue() {
        $("#url").val($("#select").val())
        connect();
    }


    //本服务的客户端
    var socketLocal;
    //连接的客户端
    var socket;

    function upload(event) {

        var a = $("#url").val();
        var b = a.split(":")[1];
        var c = b.replace("//", "");
        var d = "http://" + c + ":8090/netty/upload";

        console.log(d)
        const formData = new FormData();
        formData.append('file', event.target.files[0]);
        fetch(d, {
            method: 'post',
            body: formData,
        }).then(response => response.json())
            .then((data) => {
                $("#localDiv").append("我：文件发送成功，地址：" + data.data[0] + "<br/>")
                socket.send("收到新文件，已保存到：" + data.data[0]);
            });
    }

    connectLocal();

    if (!window.WebSocket) {
        window.WebSocket = window.MozWebSocket;
    }

    function connect() {

        if (window.WebSocket) {

            var socketUrl = "ws://" + $("#url").val() + ":8888/ws/chat";

            socket = new WebSocket(socketUrl);
            socket.onmessage = function (event) {
                console.log("收到服务端的消息", event.data);
                $("#localDiv").append("<div><div style='float: right'><span>他：" + event.data + "</span></div></div><br/>")
            };
            socket.onopen = function (event) {
                console.log("与对方链接成功!  \r\n")
                $("#localDiv").append("与对方链接成功! <br/>")
            };
            socket.onclose = function (event) {
                console.log("对方不在线。。。。。。关闭 \r\n")
                $("#localDiv").append("对方不在线。。。。。。关闭 <br/>")
            };
        } else {
            alert("您的浏览器不支持WebSocket协议！");
        }
    }

    //连接本服务
    function connectLocal() {
        if (window.WebSocket) {
            socketLocal = new WebSocket("ws://localhost:8888/ws/chat");
            socketLocal.onmessage = function (event) {

                var data = event.data
                console.log("收到本服务端发送给自己的消息", data);

                try {
                    var arr = JSON.parse(data);
                    if ((typeof arr == 'object') && arr.constructor == Array) {
                        var obj = document.getElementsByTagName("select")[0];
                        var selectOptions = obj.options;
                        var optionLength = selectOptions.length;
                        for (var i = 0; i < optionLength; i++) {
                            obj.removeChild(selectOptions[0]);
                        }
                        for (let i = 0; i < arr.length; i++) {
                            $("#select").append("<option id='option' value='" + arr[i] + "'>" + arr[i] + "</option>")
                        }
                    } else {
                        $("#localDiv").append("对方：" + event.data + "<br/>")
                    }
                } catch (e) {
                    $("#localDiv").append("对方：" + event.data + "<br/>")
                }

            };
            socketLocal.onopen = function (event) {

                console.log("系统消息：客户端与服务链接成功!\r\n")
                $("#localDiv").append("<div><div style='float: right'><span>系统消息：客户端与服务链接成功!</span></div></div><br/><br/>")


            };
            socketLocal.onclose = function (event) {
                console.log("系统消息：客户端与服务连接失败。。。。。。链接已关闭 \r\n")
                $("#localDiv").append("<div><div style='float: right'><span>系统消息：客户端与服务连接失败。。。。。。链接已关闭</span></div></div><br/><br/>")
            };
        } else {
            alert("您的浏览器不支持WebSocket协议！");
        }
    }

    //实例化sdk
    var onlineChat = new online_chat_js_sdk({
        httpApiHost: '',
        noLoginJumpUrl: 'index.html',
        alertMsg: function (msg) {
            layer.msg(msg);
        }
    });
    var vm = new Vue({
        el: '#app',
        data: {
            // 当前用户
            onlineChat: onlineChat,
            sideTab: 'session'
        },
        methods: {
            joinSession: function (contactIndex) {
                onlineChat.joinSession(contactIndex);
                this.sideTab = 'session';
            },
            'last_msg': function (message) {
                if (message != null && message != '') {
                    if (message.name == null) {
                        message.name = '';
                    }
                    var msg = message.msg;
                    if (message.msg_type == onlineChat.MSG_TYPE_IMG) {
                        msg = '[图片]';
                    } else if (message.msg_type == onlineChat.MSG_TYPE_VIDEO) {
                        msg = '[视频]';
                    } else if (message.msg_type == onlineChat.MSG_TYPE_SOUND) {
                        msg = '[音频]';
                    } else if (message.msg_type == onlineChat.MSG_TYPE_FILE) {
                        msg = '[文件]';
                    }
                    if (message.uid != onlineChat.userinfo.uid) {
                        if (message.msg_type == onlineChat.MSG_TYPE_RICH_TXT) {
                            return '<p>[' + message.name + ']:' + msg.substr(3);
                        } else {
                            return '[<span>' + message.name + '</span>]：' + msg;
                        }
                    } else {
                        return msg;
                    }
                } else {
                    return '';
                }
            },
            imgLoadScrollBottom: function () {
                setTimeout(function () {
                    var elem = document.getElementById('chat-message');
                    var scrollTop = elem.scrollHeight - elem.clientHeight;
                    $(elem).slimScroll({scrollTo: scrollTop.toString() + 'px'});
                    elem.scrollTop = elem.scrollHeight - elem.clientHeight;
                }, 100);
            }
        },
        directives: {
            // 发送消息后滚动到底部
            'scroll-bottom': function () {
                if (typeof this.vm != "undefined") {
                    this.vm.$nextTick(function () {
                        var elem = document.getElementById('chat-message');
                        var scrollTop = elem.scrollHeight - elem.clientHeight;
                        $(elem).slimScroll({scrollTo: scrollTop.toString() + 'px'});
                        elem.scrollTop = elem.scrollHeight - elem.clientHeight;
                    });
                }
            }
        },
        mounted: function () {
            this.$nextTick(function () {
                // Code that will run only after the
                // entire view has been rendered
            });
        }
    });
    onlineChat.startTmp();

    //发送消息
    function sendMsg() {
        var message = editor.txt.html();
        var lines = editor.txt.getJSON();

        if (/<img[^>]*>/.test(message) || /<br\/>/.test(message) || lines.length > 1) {
            var message = editor.txt.html();
            var msg_type = onlineChat.MSG_TYPE_RICH_TXT;
        } else {
            var message = editor.txt.text();
            var msg_type = onlineChat.MSG_TYPE_TXT;
        }
        if (message == '') {
            alert('消息不能为空！');
            return;
        }

        if (!window.WebSocket) {
            return;
        }
        if (socket.readyState == WebSocket.OPEN) {
            socket.send(message);
            $("#localDiv").append("<div><div style='float: right'><span>我：" + message + "</span></div></div><br/><br/>")
            //清空消息
            editor.txt.html("");
        } else {
            alert("WebSocket 连接没有建立成功！");
        }

    }

    $(function () {
        $('.list').slimScroll({
            height: '460px'
        });
        $('.chat-message').slimScroll({
            height: '360px'
        });
        $('.w-e-text').slimScroll({
            height: '90px'
        });
    });

    var E = window.wangEditor;
    var editor = new E('#editor');
    // 自定义菜单配置
    editor.customConfig.menus = [
        'emoticon',  // 表情
    ];

    editor.customConfig.emotions = [
        // {
        //     // tab 的标题
        //     title: '默认',
        //     // type -> 'emoji' / 'image'
        //     type: 'image',
        //     // content -> 数组
        //     content: onlineChatFaceImgs
        // },
        {
            // tab 的标题
            title: 'emoji',
            // type -> 'emoji' / 'image'
            type: 'emoji',
            // content -> 数组
            content: '😀 😃  😁 😆 😅 😂 😊 😇 🙂 🙃 😉 😌 😍 😘 😗 😙 😚 😋 😜 😎 😏 😒 😞 😔 😟 😕 😣 😖 😫 😩 😤 😠 😶 😐 😑 😯 😦 😧 😮 😲 😵 😳 😱 😨 😰 😢 😥 😭 😓 😪 😴 🙄 🤔 😬 🤐'.split(/\s/)
        },
        {
            // tab 的标题
            title: 'emoji手势',
            // type -> 'emoji' / 'image'
            type: 'emoji',
            // content -> 数组
            content: ['🙌', '👏', '👋', '👍', '👎', '👊', '✊', '️👌', '✋', '👐', '💪', '🙏', '️👆', '👇', '👈', '👉', '🖕', '🖐', '🤘']
        }
    ]
    editor.create();


    //上传文件
    // $('.w-e-toolbar').append('<div class="w-e-menu" id="upload"><i class="w-e-icon-file"></i><input type="file" name="file"></div>');
    $('.w-e-toolbar').append('<div class="w-e-menu" id="upload"><i class="w-e-icon-file"></i><input type="file" id="files" onchange="upload(event)"/></div>');


    $('body').on('click', '.cm-img img', function () {
        var index = 0;
        var imgs = [];
        for (var i = 0; i < onlineChat.customer.session.messages.length; i++) {
            if (onlineChat.customer.session.messages[i].msg_type == onlineChat.MSG_TYPE_IMG) {
                if (onlineChat.customer.session.messages[i].msg == $(this).attr('src')) {
                    index = imgs.length;
                }
                imgs.push({
                    "alt": "",
                    "pid": i, //图片id
                    "src": onlineChat.customer.session.messages[i].msg, //原图地址
                    "thumb": "" //缩略图地址
                });
            }
        }
        //console.log(imgs);
        layer.photos({
            photos: {
                "title": "", //相册标题
                "id": 123, //相册id
                "start": index, //初始显示的图片序号，默认0
                "data": imgs
            }
            , anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机
            , shade: [0.9, '#000']
            , closeBtn: true
        });
    });
    $('body').on('click', '.cm-sound', function () {
        var sound_src = $(this).attr('sound-src');
        $('#chat-sound').attr('src', sound_src);
        $("#chat-sound")[0].play();
    });
    $('body').on('click', '.cm-video', function () {
        var video_src = $(this).attr('video-src');
        layer.open({
            title: false,
            type: 1,
            skin: 'layui-layer-demo', //样式类名
            closeBtn: 0, //不显示关闭按钮
            area: ['auto', 'auto'],
            anim: 2,
            shadeClose: true, //开启遮罩关闭
            content: '<video width="800px" height="600px" controls="controls" autoplay="autoplay" style="background:#000"><source src="' + video_src + '" type="video/mp4" /></video>'
        });
    });
    $('body').on('change', '#upload input[type=file]', function () {

        if (typeof onlineChat.customer.session.uid == 'undefined') {
            //alert('请选择聊天');
            return;
        }
        onlineChat.httpApi.uploadFile({
            file: $(this)[0].files[0],
            chat_type: onlineChat.CHAT_TYPE_CUSTOMER
        });
        $('#upload').html($('#upload').html());
    });
    $('.w-e-text').keydown(function (event) {
        if (event.ctrlKey && event.keyCode == 13) {
            if (navigator.userAgent.indexOf("Edge") > -1 || 'ActiveXObject' in window) { //IE浏览器和edge浏览器
                editor.txt.append('<p></p>');
                return false;
            } else {
                editor.txt.append('<p><br></p>');
                return false;
            }
        }
        if (event.keyCode == 13) {
            sendMsg();
            return false;
        }
    });


    $.ajax({
            type: "get",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            url: "http://localhost:8090/netty/selectArrayList",
            success: function (result) {
                if (result.code == 200) {
                    var arrs = result.data;

                    // for(var i in arrs){
                    //     console.dir(i);//输出姓名
                    //     console.dir(arrs[i]);//输出分数
                    // }

                    for (var i = 0; i < arrs.length; i++) {
                        console.log(arrs[i])
                        $("#select").append("<option value ='" + arrs[i] + "'>" + arrs[i] + "</option>");
                    }

                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown);
            },
            async: false             //false表示同步
        }
    );


</script>

</html>